
@{
    ViewData["Title"] = "Index";
}

    <div class="container text-center">
        <h1 class="display-4">Gerenciamento de Anviersários</h1>
        <p class="lead">Escolha a opção desejada </p>
        <a class="btn btn-dark" asp-area="" asp-controller="Aniversariantes" asp-action="Cadastro">Cadastrar</a>
        <a class="btn btn-dark" asp-area="" asp-controller="Aniversariantes" asp-action="Exibir">Exibir</a>
    </div>

