@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <img class="align-content-center" src="https://images.sympla.com.br/5e613d73191cd.png" />
        <h1 class="display-4">Fundamentos do Desenvolvimento de Aplicações Web ASP .NET</h1>
        <br />
        <p class="lead">Teste de Performance - TP3</p>
        <p class="lead">Aluno: Eloy Barbosa</p>
        <p class="lead">Professor: Rafael Cruz</p>
        <p class="lead">Curso: Engenharia da Computação</p>
        <p>Nesse TP03, você deve criar, com o Visual Studio, um projeto do tipo ASP .NET Web Application (.NET Framework) e utilizar o template MVC. Esse projeto será uma versão Web de uma aplicação para o Gerenciamento de Aniversários. Nessa aplicação o usuário deve poder inserir, consultar, excluir e atualizar datas de aniversário de pessoas. Uma pessoa deve ter os seguintes campos: nome, sobrenome e data de aniversário.</p>
    </div>
